<style>
    h4 {
        font-size: 5em;
        }
    h5 {
        font-size: 2em;
        color: #7E807F;
        }
        
    form {
    }
    .layout {
        padding-left: 30%;
        padding-top: 10%;
    }
</style>
<div class="layout">
    <h4 style="color:green"><span style="color:red;">B</span>o<span style="color:blue">x</span></h1>
    <h5>Search in million of images</h2> 

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'box:search' %}" method="post">
    {% csrf_token %}
	    <input type="text" name="box" id="box" size="50" value="" />
	    <input type="submit" value="Search" />
	    <br><br>You want to use:<br><br>
	    <input type="radio" name="methods" value="1" checked>Similarity Search (PQ+PCA+VLAD)<br>
	    <input type="radio" name="methods" value="2">Duplicate Search (Min Hash)<br>
	    <input type="radio" name="methods" value="3">Improved Similarity Search (Exact Nearest Neighbor)<br>
	    <input type="radio" name="methods" value="4">Face Identification (Fisher Vectors)<br>
	
    </form>
</div>
